In [14]:
import pandas as pd 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [16]:
#------------------ BRONZE LEVEL ------------------------#

# RAW DATA TO DATA FRAME ( THIS FILES FROM ERP DATASETS )

# CUSTOMER EXTRA INFORMATION ( BIRTH_DATE )
bronze_customer_birth_date = pd.read_csv('datasets/source_erp/CUST_AZ12.csv')
#bronze_customer_birth_date

# CUSTOMER EXTRA INFORMATION ( LOCATION )

bronze_customer_location = pd.read_csv('datasets/source_erp/LOC_A101.csv')

# PRODUCT CATEGORY

bronze_product_category = pd.read_csv('datasets/source_erp/PX_CAT_G1V2.csv')

#bronze_product_category 

# ---------- BRONZE LEVEL DONE ---------------- #

DATA TRANSFORMATION
- DATA CLEANING
- REMOVE AND REPLACE ALL NULL VALUES
- MODIFY COLUMNS NAME ( FOR READABLITY )
- READY THE DATA INTO SILVER LEVEL

In [27]:
# ------------------------- DATA TRANSFORMATION ( bronze_customer_birth_date ) ---------------------------- #
bronze_customer_birth_date.dtypes
# CID      object
# BDATE    object
# GEN      object
# dtype: object


# FILL NAN VALUES AND REPLACE INTO 'N/A' VALUES
bronze_customer_birth_date.fillna('N/A',inplace=True)


# CONVERT BDATE TO DATETIME DATA TYPES
bronze_customer_birth_date['BDATE'] = pd.to_datetime(bronze_customer_birth_date['BDATE'],errors='coerce')
bronze_customer_birth_date[bronze_customer_birth_date['BDATE'].isnull()]


bronze_customer_birth_date[bronze_customer_birth_date['BDATE'].isnull()]
bronze_customer_birth_date['BDATE'].fillna(0000-00-00,inplace=True)


# RENAMING COLUMNS 


silver_customer_birth_date = bronze_customer_birth_date.rename(
    columns={'CID':'customer_id','BDATE':'birthdate','GEN':'gender'}.copy()
    
)

# ------------------ CLEAN ------------------------- #
#CONVERT INTO CSV FILES ------------
#silver_customer_birth_date.to_csv('silver_erp_customer_birthdate.csv', index=False)
silver_customer_birth_date

         customer_id  birthdate  gender
0      NASAW00011000 1971-10-06    Male
1      NASAW00011001 1976-05-10    Male
2      NASAW00011002 1971-02-09    Male
3      NASAW00011003 1973-08-14  Female
4      NASAW00011004 1979-08-05  Female
...              ...        ...     ...
18479     AW00029479 1969-06-30     N/A
18480     AW00029480 1977-05-06     N/A
18481     AW00029481 1965-07-04     N/A
18482     AW00029482 1964-09-01     N/A
18483     AW00029483 1965-06-06     N/A

[18484 rows x 3 columns]

In [29]:
# ------------------------- DATA TRANSFORMATION ( bronze_customer_location) ---------------------------- #

# fillna values
bronze_customer_location.fillna("N/A",inplace=True)

# CREATE  COMPLETE CUSTOMER ID WITHOUT " - " 
bronze_customer_location['customer_id']  = bronze_customer_location['CID'].str.replace('-','')
# RENAMING COLUMNS
silver_customer_location = bronze_customer_location.rename(columns={'CID':'cid','CNTRY':'country'}).copy()


#------------ CLEAN -----------------#
#CONVERT INTO CSV FILES ------------
#silver_customer_location.to_csv('silver_erp_customer_location.csv', index=False)
silver_customer_location

               cid         country customer_id
0      AW-00011000       Australia  AW00011000
1      AW-00011001       Australia  AW00011001
2      AW-00011002       Australia  AW00011002
3      AW-00011003       Australia  AW00011003
4      AW-00011004       Australia  AW00011004
...            ...             ...         ...
18479  AW-00029479          France  AW00029479
18480  AW-00029480  United Kingdom  AW00029480
18481  AW-00029481         Germany  AW00029481
18482  AW-00029482          France  AW00029482
18483  AW-00029483          France  AW00029483

[18484 rows x 3 columns]

In [31]:
# ------------------------- DATA TRANSFORMATION ( bronze_product_category) ---------------------------- #
bronze_product_category

# REMOVE UNWANTED SPACES 
bronze_product_category['ID'] = bronze_product_category['ID'].str.lstrip(" ")
bronze_product_category['ID'] = bronze_product_category['ID'].str.rstrip(" ")
bronze_product_category['SUBCAT'] = bronze_product_category['SUBCAT'].str.lstrip(" ")
bronze_product_category['SUBCAT'] = bronze_product_category['SUBCAT'].str.rstrip(" ")
bronze_product_category['SUBCAT'][bronze_product_category['SUBCAT'].str.contains(" ")]


#RENAMING COLUMNS
silver_product_category = bronze_product_category.rename(
    columns={"ID":'product_id', "CAT":"product_category","SUBCAT":"product_sub_category","MAINTENANCE":"product_maintenance"}
).copy()



# ------------ CLEAN -------------------#

silver_product_category
#CONVERT INTO CSV FILES ------------
#silver_product_category.to_csv('silver_erp_product_category.csv', index=False)

   product_id product_category product_sub_category product_maintenance
0       AC_BR      Accessories           Bike Racks                 Yes
1       AC_BS      Accessories          Bike Stands                  No
2       AC_BC      Accessories    Bottles and Cages                  No
3       AC_CL      Accessories             Cleaners                 Yes
4       AC_FE      Accessories              Fenders                  No
5       AC_HE      Accessories              Helmets                 Yes
6       AC_HP      Accessories      Hydration Packs                  No
7       AC_LI      Accessories               Lights                 Yes
8       AC_LO      Accessories                Locks                 Yes
9       AC_PA      Accessories             Panniers                  No
10      AC_PU      Accessories                Pumps                 Yes
11      AC_TT      Accessories      Tires and Tubes                 Yes
12      BI_MB            Bikes       Mountain Bikes                 Yes
13      BI_RB            Bikes           Road Bikes                 Yes
14      BI_TB            Bikes        Touring Bikes                 Yes
15      CL_BS         Clothing           Bib-Shorts                  No
16      CL_CA         Clothing                 Caps                  No
17      CL_GL         Clothing               Gloves                  No
18      CL_JE         Clothing              Jerseys                  No
19      CL_SH         Clothing               Shorts                  No
20      CL_SO         Clothing                Socks                  No
21      CL_TI         Clothing               Tights                  No
22      CL_VE         Clothing                Vests                  No
23      CO_BB       Components      Bottom Brackets                 Yes
24      CO_BR       Components               Brakes                 Yes
25      CO_CH       Components               Chains                 Yes
26      CO_CS       Components            Cranksets                 Yes
27      CO_DE       Components          Derailleurs                 Yes
28      CO_FO       Components                Forks                 Yes
29      CO_HB       Components           Handlebars                  No
30      CO_HS       Components             Headsets                  No
31      CO_MF       Components      Mountain Frames                 Yes
32      CO_PD       Components               Pedals                  No
33      CO_RF       Components          Road Frames                 Yes
34      CO_SA       Components              Saddles                  No
35      CO_TF       Components       Touring Frames                 Yes
36      CO_WH       Components               Wheels                 Yes

In [ ]:
siver_erp_